/*Inico fuentes*/
@font-face {
    font-family:Southland ;
    src: url('./letras/Southland.ttf');
}
@font-face {
    font-family:NewYork ;
    src: url('./letras/NewYork.otf');
}
/*Fin fuentes*/

/*Inicio background*/
body{
    background-image: url('./img/fondo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
/*Fin background*/

/*Inicio margen de textos*/
.div1{
    margin-top: -30px ;
    margin-bottom: 30px;
}

.div2{      
    margin-bottom: 50px;
}
/*Fin margen de textos*/

/*Inicio estilo de mapas*/
iframe{
    width: 300px;
    height: 200px;
    border-style: none;
    box-shadow: 20px 20px 15px -2px rgba(0,0,0,0.59) ;
}

.embed-container{
    margin-left: 28px;
    margin-bottom: 30px;
}
/*Fin estilo de mapas*/

/*Inico estilo de textos*/
h1{
    font-family: Southland;
    font-size: 85px;
    text-align: center;
    font-weight: normal;
    margin: 0;
    margin-top: -40px;
    height:200px;
    color: #F6F0ED;
}

h2{
    font-family: 'Southland';
    font-size: 80px;
    text-align: center;
    font-weight: lighter;
    margin: 20px 0 40px 0;
    line-height: 50px;
    color: #F6F0ED;
}

p{
    font-family: 'NewYork', 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    color: #F6F0ED;
}

.southland-font{
    font-family: 'Southland';
    font-size: 70px;
    color: #F6F0ED;
    margin-top: -50px;
    margin-bottom: -15px;
    height: 130px;
}

#correo-style{
    text-decoration: none;
    font-family: 'Southland';
    font-size: 60px;
    color: #F6F0ED;
    margin-left: 20px;
    
}
/*Fin estilo de textos*/